@page "/expanding-cards"

<PageTitle>Expanding Cards</PageTitle>
<h3>Expanding Cards</h3>
<div class="my-container">
    @foreach (var (id, title, image) in GetPanels())
    {
        <div class="panel @(IsActive(id) ? "active" : "")"
             style="background-image: url('@image');"
             @onclick="() => OnPanelClick(id)">
            <h3>@title</h3>
        </div>
    }
</div>

@code {
    private string? ActivePanelId { get; set; }
    private List<(string id, string title, string image)> GetPanels()
    {
        return new()
            {
                ("panel1", "Super sweet puppy", "https://picsum.photos/id/237/1920/1080"),
                ("panel2", "Picture 2", "https://picsum.photos/id/45/1920/1080"),
                ("panel3", "Picture 3", "https://picsum.photos/id/83/1920/1080"),
                ("panel4", "Picture 4", "https://picsum.photos/id/22/1920/1080"),
                ("panel5", "Picture 5", "https://picsum.photos/id/18/1920/1080"),
            };
    }

    protected override void OnInitialized()
    {
        ActivePanelId = GetPanels().First().id;
    }

    public void OnPanelClick(string panelId)
    {
        // Remove active class from all panels by setting to new active panel
        ActivePanelId = panelId;
    }

    public bool IsActive(string panelId)
    {
        return ActivePanelId == panelId;
    }
}
