@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, visitor!</h1>

<h5>This page is a work-in-progress project based on a Udemy course called <span style="color: cadetblue; font-size: 1.5rem !important;">50 Projects in 50 Days</span></h5>
